output/
stderr/
stdout/
benchmarks/
run_skipper.sh
example/fastqs
annotations/GRCh38_no_alt_analysis_set_GCA_000001405.15.fasta
annotations/gencode.v38.annotation.k562_totalrna.gt1.tiled_partition.bed.gz
annotations/gencode.v38.annotation.k562_totalrna.gt1.tiled_partition.features.tsv.gz
annotations/gencode.v38.annotation.k562_totalrna.gt1.tiled_partition.nuc.gz
annotations/GRCh38_no_alt_analysis_set_GCA_000001405.15.fasta.fai
annotations/gencode.v38.annotation.k562_totalrna.gt1.gff3
annotations/repeatmasker.grch38.sort.unique.bed.gz
annotations/repeatmasker.grch38.tsv.gz
annotations/
.snakemake/
.ipynb_checkpoints
.fontconfig/
.java/
repeats.sort.temp.bed.gz
land_ho.txt
